.App {
  text-align: center;
  /* background-color: rgb(208, 214, 224); */
  background-color: #26292E;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* background-color: #1353B7; */
  /* height: 220px; */
  padding: 20px;
  color: white;
  display: flex;
  border-bottom: 10px solid #1353B7;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-child {
  flex: 1;
}

#header-right {
  text-align: right;
}

#login-modal {
  color: ivory;
  background-color: #222;
  border: 1px solid ivory;  
}

#app-content {
  margin: 0 50px;
}

#card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.custom-card {
  margin: 0 60px 20px 60px;
  width: 300px;
}

.custom-title {
  /* background-color: #222; */
  background-color: #1353B7;
  color: ivory;
  font-size: 20px;
  padding: 5px 0;
  border-radius: 8px 8px 0 0;
}

.custom-list {
  margin: 0;
}

.custom-item {
  display: flex;
  align-items: center;
  padding: 7px;
  margin-bottom: 1px;
  border-top: 0.3px solid gainsboro;
  border-bottom: 0.3px solid gainsboro;  
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #222;
}

.custom-item-link {
  flex: 3;
  display: flex;
  align-items: center;
}

.custom-item-dropdown {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.url-logo {
  width: 45px;
  height: 45px;
  margin-right: 50px;
}

#new-card {
  height: 200px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 50px;
}

#add {
  font-size: 50px;
}

#google-search {
  background-color: white;
  border: 5px solid #1353B7;
}

#google-label {
  padding-left: 10px;
}

#modal2 {
  color: black;
}

#modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container {
  display: flex;
  align-items: stretch;
}

.login-child {
  flex: 1;
}

#button-container {
  display: flex;
  justify-content: space-around;
}

.button-spacer {
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.login-warning {
  color: red;
}

#events {
  color: ivory;
}

#weather {
  text-align: left;
}

#forecast {
  display: flex;
  flex-direction: column;
}

#today {
  display: flex;
  align-items: center;
  background-color: #1353B7;
  max-width: 280px;
  padding: 5px;
  border: 1px solid ivory;
}

.today-child {
  margin: 0 10px;
  text-align: left;
}

.daily {
  border: 2px solid #1353B7;
  padding: 10px;
}

#zip-chips {
  display: flex;
  justify-content: center;
}

.zip {
  display: flex;
  width: 80px;
  background-color: #1353B7;
  border-radius: 10%;
  padding: 5px;
  margin: 5px;
}

#divider {
  display: flex;
}

#weather {
  flex: 1;
}

#activities {
  flex: 7;
}

#activity-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 500px;
  margin: 20px 100px;
}

.card-content {
  color: darkslategray;
}