.App {
  text-align: center;
  /* background-color: rgb(208, 214, 224); */
  /* background-color: #26292E; */
  background: linear-gradient(-45deg, #2d4160, #26292E);
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* background-color: #1353B7; */
  /* height: 220px; */
  padding: 20px;
  color: white;
  display: flex;
  border-bottom: 8px solid #1353B7;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', 'cursive';  
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-child {
  flex: 1;
}

#header-right {
  text-align: right;
}

#app-content {
  margin: 0 50px;
}

#card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.custom-card {
  margin: 0 30px 40px 30px;
  width: 300px;
  box-shadow: 5px 8px 5px #26292E;  
}

.custom-header {
  display: flex;
  align-items: center;
  background-color: rgba(49, 46, 46, 0.2);
  color: ivory;
  border-bottom: 1.3px solid gainsboro;  
  font-size: 20px;
  padding: 5px 0;
  border-radius: 8px 8px 0 0;
  font-family: 'Archivo Black', 'sans-serif';  
}

.custom-header-child {
  flex: 1;
}

#custom-toggle {
  text-align: right;
  padding-right: 10px;
}

.custom-toggle-icon {
  cursor: pointer;
}

.custom-delete {
  text-align: left;
  padding-left: 10px;
}

.custom-list {
  margin: 0;
}

.custom-item {
  display: flex;
  align-items: center;
  padding: 7px;
  margin-bottom: 1px;
  /* border-top: 0.3px solid gainsboro; */
  /* border-bottom: 0.3px solid gainsboro;   */
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(18, 39, 102, 0.2);
  cursor: pointer;
}

.custom-item-link {
  flex: 3;
  display: flex;
  align-items: center;
}

 .favorite-text {
  color: white;
 }

.url-logo {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.new-item {
  display: flex;
  align-items: center;
  padding: 15px 7px 0 15px;
  margin-bottom: 1px;
  border-top: 0.3px solid gainsboro;
  border-bottom: 0.3px solid gainsboro;  
  background-color: #222;
}

.new-item-input {
  flex: 6;
}

.url-input {
  color: white;
}

.new-item-icon {
  flex: 1;
  color: gainsboro;
  font-size: 40px;
  margin: 0 5px 10px 5px;
}

#category-maker {
  min-height: 50px;
  min-width: 50px;
  background-color: #1b1b1c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#add {
  font-size: 50px;
  color: gainsboro;
}

#google-search {
  background-color: white;
  border: 5px solid #1353B7;
  padding-left: 10px;
  border-radius: 8%;
}

#google-search::placeholder {
  color: slategray;
}

#google-label {
  padding-left: 10px;
}

#login {
  color: white;
  margin-top: 50px;
}

#login-container {
  display: flex;
  align-items: stretch;
  /* color: ivory; */
}

.login-child {
  flex: 1;
  /* color: ivory;   */
}

.login-icon {
  /* color: ivory; */
}

.login-header {
  color: #37BDFF;
  font-weight: bold;
}

#button-container {
  display: flex;
  justify-content: space-around;
}

.button-spacer {
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.login-warning {
  color: red;
}

#events {
  color: ivory;
}

#today {
  display: flex;
  align-items: center;
  background-color: #1353B7;
  padding: 5px;
  border: 1px solid ivory;
  margin-bottom: 10px;
}

.today-child {
  margin: 0 10px;
  text-align: left;
}

#forecast {
  display: flex;
  flex-direction: column;
}

.daily {
  border: 2px solid #1353B7;
}

.daily-details {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 5px 0;
  background-color: #1353B7;  
}

.daily-child {
  flex: 1;
}

#zip-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.zip {
  display: flex;
  width: 80px;
  background-color: #1353B7;
  border-radius: 10%;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

#divider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#weather-container {
  flex: 1;
}

#activity-container {
  flex: 3;
}

.event-card {
  border: 1px solid gray;    
}

.event-card-title {
  padding: 10px;
}

.event-header {
  /* font-family: 'Archivo Black', 'sans-serif';   */
  font-family: 'Magra', 'sans-serif';  
}

.event-content-header {
  background-color: white;
  color: #1353B7;
}

.tabs {
  display: flex;
}

#activity-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}

.card-content {
  color: darkslategray;
}

.custom-button {
  color: white;
  border: 1px solid white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.edit-icon {
  color: white;
}

.success-icon {
  color: greenyellow;
  font-weight: bolder;
}

#template-input {
  width: 150px;
  color: white;
}

.activity-card {
  width: 100%;
  margin: 0 10px;
}

#route-menu {
  display: flex;
  justify-content: center;
}

.card-image {
  height: 130px;
}

.apply-pointer {
  cursor: pointer;
}