.App {
  text-align: center;
  background-color: rgb(208, 214, 224);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 220px; */
  padding: 20px;
  color: white;
  display: flex;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-child {
  flex: 1;
}

#header-right {
  text-align: right;
}

#login-modal {
  color: ivory;
  background-color: #222;
  border: 1px solid ivory;  
}

#app-content {
  margin: 0 50px;
}

#card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.custom-card {
  margin: 0 60px 20px 60px;
  width: 300px;
}

.custom-title {
  background-color: #222;
  color: ivory;
  font-size: 20px;
  padding: 5px 0;
  border-radius: 15px 15px 0 0;
}

.custom-list {
  margin: 0;
}

.custom-item {
  display: flex;
  align-items: center;
  padding: 7px;
  margin-bottom: 1px;
  border: 0.3px solid gainsboro;
  background-color: white;
}

.custom-item-link {
  flex: 3;
  display: flex;
  align-items: center;
}

.custom-item-dropdown {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.url-logo {
  width: 45px;
  height: 45px;
  margin-right: 50px;
}

#google-search {
  background-color: white;
}

#google-label {
  padding-left: 10px;
}

#modal2 {
  color: black;
}

#modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container {
  display: flex;
  align-items: stretch;
}

.login-child {
  flex: 1;
}

#button-container {
  display: flex;
  justify-content: space-around;
}

.button-spacer {
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.login-warning {
  color: red;
}